/* Lateral esquerda */
.alturalateral {
    background-color: rgb(43, 122, 240);
    /* azul principal */
    height: 900px;
    width: 2%;
}


.imagem img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 200px;
    border: 3px solid #1a3c64;
}


/* Container principal */
.pai {
    display: flex;
}

/* Seção do meio */
.meio {
    background-color: #e2e0e0;
    /* fundo branco */
    color: #333;
    /* texto escuro */
    padding: 20px;
}

/* Seção da direita */
.direita {
    background-color: #d3cece;
    /* cinza claro */
    color: #222;
    /* texto escuro */
    padding: 20px;
}

/* Contato WhatsApp */
.contato {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    color: #25D366;
    /* verde do WhatsApp */
}


.icone-whatsapp {
    width: 24px;
    height: 24px;
}

/* E-mail */
.email {
    display: flex;
    gap: 8px;
    font-size: 20px;
    color: #007BFF;
    /* azul para email */
}

.icone-email {
    width: 24px;
    height: 24px;
}

/* GitHub */
.git {
    display: flex;
    gap: 8px;
    font-size: 20px;
    color: #000;
    /* preto para GitHub */
}

.icone-git {
    width: 24px;
    height: 24px;
}

/* Sobre mim */
.sobre-mim-container {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    font-size: 20px;
}

.sobre-mim-container img {
    flex-shrink: 0;
}

#icone-edu {
    height: 60px;
}

#icone-exp {
    height: 60px;
}

#educacao {
    display: flex;
}

#habilidade{
    display: flex;
}

#idioma{
    display: flex;
}

#icone-habilidade{
    height: 60px;
}
#icone-linguagem{
    height: 60px;
}


#educacao{
    font-size: 17px;
}

#educacao h3,
p {
    margin-top: 0em;
    margin-bottom: 1em;
}

#tecnico{
    padding-left: 7%;
    font-size: 17px;
}

#experiencia {
    display: flex;
    font-size: 20px;
}

#experiencia h3,
p {
    margin-top: 1em;
    margin-bottom: 1em;
}

#portugues {
    display: flex;
    align-items: center;

}

#portugues h1 {
    margin-right: 5%;
    width: 90px;
}

.bolinha1 {
    height: 1vw;
    width: 1vw;
    background-color: rgb(240, 240, 67);
    border-radius: 50px;
    margin-right: 2%
}


#ingles {
    display: flex;
    align-items: center;

}

#ingles h1 {
    margin-right: 5%;
    width: 90px;
}

.bolinha2 {
    height: 1vw;
    width: 1vw;
    background-color: rgb(240, 240, 67);
    border-radius: 50px;
    margin-right: 2%
}

.bolinha3 {
    height: 1vw;
    width: 1vw;
    background-color: rgb(136, 134, 134);
    border-radius: 50px;
    margin-right: 2%
}