.alturalateral {
    background-color: rgb(43, 122, 240);
    height: 900px;
    width: 2%;
}

.pai {
    display: flex;

}

.contato {
    display: flex;
    align-items: center;
    gap: 8px;
    /* espaço entre ícone e texto */
    font-size: 20px;
}

.icone-whatsapp {
    width: 24px;
    /* tamanho do ícone */
    height: 24px;
}

.email {
    display: flex;
    gap: 8px;
    /* espaço entre ícone e texto */
    font-size: 20px;
}

.icone-email {
    width: 24px;
    /* tamanho do ícone */
    height: 24px;
}